   <meta http-equiv="refresh" content="600" />
  
  <div class="container text-center" id="header">
<h1>Sales Wallboard</h1>

</div>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
<div class="carousel-item active" data-bs-interval="20000">
      <%= render 'sales_today', result_today: @result_today %>
    </div>
<div class="carousel-item active" data-bs-interval="20000">
      <%= render 'sales_month', budget_month: @budget_month, result_month: @result_month %>
    </div>
<div class="carousel-item active" data-bs-interval="20000">
      <%= render 'sales_year', result_year: @result_year %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
